* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
}

.app {
    display: flex;
}

.text-area {
    border: none;
    outline: none;
    resize: none;
    overflow: hidden;
    padding: 22px;
    width: 50%;
    height: 100vh;
}

.preview-area {
    width: 50%;
    padding: 0 22px;
    background-color: #e4e7eb;
    overflow-wrap: break-word;
}

blockquote {
    border-left: 3px solid #e8368f;
    margin-left: 0;
    padding: 12px;
    font-style: italic;
    background-color: #f5f7fa;
}
